@font-face {
    font-family: "Beaufort for LOL";
    src: url('https://lolstatic-a.akamaihd.net/awesomefonts/1.0.0/Fonts/BeaufortforLOL-Medium.woff');
}


html {
    background: black;
}

body {
    background: black;
}

.AppLogic_MainDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    top: 0px;
    left: 0px;
    margin: 0;
    color: white;
}

.btn {
    background: #191814;
    color: #bd9d43;
    border: 1px solid #645127;
    border-top-color: #c0ab71;
    border-image: linear-gradient(to bottom,#c0ab71,#645127) 1 stretch;
    border-width: 3px;
    text-align: center;
    font-family: "Beaufort for LOL";
    font-size: 2vmin;
    padding: 0 25px;
    white-space: nowrap;
    line-height: 0px;
}

.btn-large {
    background: #191814;
    color: #bd9d43;
    border: 1px solid #645127;
    border-top-color: #c0ab71;
    border-image: linear-gradient(to bottom,#c0ab71,#645127) 1 stretch;
    border-width: 3px;
    text-align: center;
    font-family: "Beaufort for LOL";
    font-size: 18px;
    padding: 0 25px;
    height: 54px;
    white-space: nowrap;
}

.btn-small {
    background: #191814;
    color: #bd9d43;
    border: 1px solid #645127;
    border-top-color: #c0ab71;
    border-image: linear-gradient(to bottom,#c0ab71,#645127) 1 stretch;
    border-width: 3px;
    text-align: center;
    font-family: "Beaufort for LOL";
    font-size: 15px;
    padding: 0 5px;
    white-space: nowrap;
}

.btn.disabled {
    background: #191814;
    color: #423716;
}

.AppLogic_GoldBar {
    height: 2px;
    background: -webkit-gradient(linear,left top,right top,color-stop(0,transparent),color-stop(25%,#816e3e),color-stop(75%,#816e3e),color-stop(100%,transparent));
    background: -webkit-linear-gradient(left,transparent 0,#816e3e 25%,#816e3e 75%,transparent 100%);
    background: -moz-linear-gradient(left,transparent 0,#816e3e 25%,#816e3e 75%,transparent 100%);
    background: -ms-linear-gradient(left,transparent 0,#816e3e 25%,#816e3e 75%,transparent 100%);
    background: -o-linear-gradient(left,transparent 0,#816e3e 25%,#816e3e 75%,transparent 100%);
    background: linear-gradient(to right,transparent 0,#816e3e 25%,#816e3e 75%,transparent 100%);
}

.btn:hover {
    background-color: #121212;
    background-image: linear-gradient(to bottom,#121212,#121212 70%,#2e2a18);
    color: #ede6d3;
}

.AppLogic_MainDiv:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    background: #010A13 url(https://lolstatic-a.akamaihd.net/frontpage/apps/prod/lcu_alpha_website/en_US/c0dcb26e1ba53437859331627d5e2f01dfda818e/assets/img/bgs/overview-section.jpg);
    background-position: bottom right; 
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transform: scale(1.02);
}

.circle {
    border: 1px solid #645127;
    border-top-color: #c0ab71;
    border-image: linear-gradient(to bottom,#c0ab71,#645127) 1 stretch;
    border-width: 2px;
}

.AppLogic_Navbar {
    background: #2A628F url(https://lolstatic-a.akamaihd.net/frontpage/apps/prod/lcu_alpha_website/en_US/c0dcb26e1ba53437859331627d5e2f01dfda818e/assets/img/bgs/magic-page-top.jpg);
    -webkit-app-region: drag;
    background-size: cover;
    background-position: center;
}

.AppLogic_Navbar .brand-logo {
    margin-left: 0.5em;
    font-family: "Beaufort for LOL";
    font-weight: 500;
    font-style: normal;
    color: #f0e6d2;
    letter-spacing: 0;
    text-transform: uppercase;
    background: -webkit-repeating-linear-gradient(#e5cda0 0,#e5cda0 10px,#79622b 60px,#79622b 75px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.AppLogic_Button {
    -webkit-app-region: no-drag;
    font-size: 1.5em;
    margin: 0.5em;
    transition: opacity .2s;
    opacity: .6;
}

.AppLogic_Button:hover {
    opacity: 1;
}

.AppLogic_ViewDiv {
    position: relative;
    height: calc(100% - 64px);
}

.AppLogic_NavButton {
    -webkit-app-region: no-drag;
    font-family: "Beaufort for LOL";
    font-weight: bolder;
    font-style: normal;
    color: #cdbe91;
    letter-spacing: 0;
    text-transform: uppercase;
    background: -webkit-repeating-linear-gradient(#e5cda0 0,#e5cda0 10px,#79622b 60px,#79622b 75px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
    height: 64px;
    transition: all .1s ease-out;
    border: none;
}

.AppLogic_NavButtonSelected {
    -webkit-app-region: no-drag;
    font-family: "Beaufort for LOL";
    font-weight: bolder;
    font-style: normal;
    color: #f0e6d2;
    letter-spacing: 0;
    text-transform: uppercase;
    background: -webkit-repeating-linear-gradient(#e5cda0 0,#e5cda0 10px,#79622b 60px,#79622b 75px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
    text-align: center;
    position: relative;
    height: 64px;
    border: none;
}

.AppLogic_NavButton:hover {
    -webkit-app-region: no-drag;
    font-family: "Beaufort for LOL";
    font-weight: bolder;
    font-style: normal;
    color: #cdbe91;
    letter-spacing: 0;
    text-transform: uppercase;
    background: -webkit-repeating-linear-gradient(#e5cda0 0,#e5cda0 10px,#bd9d43 60px,#bd9d43 75px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    display: inline-block;
    margin: 0 0.5em 0 0.5em;
    height: 64px;
	transition: all .1s ease-out;;
}

.AppLogic_NavButtonSelected:after {
    content: " ";
    position: absolute;
    top: 43px;
    left: 50%;
    transform: translate(-50%);
    background-position: 0 0;
    width: 52px;
    height: 14px;
    background-image: url(https://lolstatic-a.akamaihd.net/frontpage/apps/prod/lcu_alpha_website/en_US/c0dcb26e1ba53437859331627d5e2f01dfda818e/assets/spritesheet/sprite.png);
}