::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #785a28;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c8aa6e;
}
::-webkit-scrollbar-thumb:active {
  background: #463714;
}
::-webkit-scrollbar-track {
  background: #010a13;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #010a13;
}
::-webkit-scrollbar-track:active {
  background: #010a13;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.MainPage_MainDiv {
    width: 100%;
    height: 100%;
    font-size: 12pt;
}

.row {
    margin: 0;
}
.MainPage_LeftSideContainer {
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 25%;
    top: 0px;
    left: 0px;
}

.MainPage_OnlineBoxDiv {
    /*background: #010A13;*/
    /*
    position: absolute;
    top: 0px;
    left: 0px;
    */
    width: 100%;
    height: calc(50%);
    overflow-y: scroll;
    clear: both;
    padding: 0 0.75rem;
}
.MainPage_NewsBoxDiv {
    /*background: #010A13;*/
    /*
    position: absolute;
    left: 0px;
    top: calc(50% + 10px);
    */
    clear: both;
    width: 100%;
    height: calc(50%);
    overflow-y: scroll;
    padding: 0 0.75rem;
}

.MainPage_LobbyDiv {
    height: 100%;
    position: absolute;
    left: 25%;
    top: 0px;
    width: 75%;
}

.champion-frame {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 15px;
    border: 1px solid #645127;
    border-top-color: #c0ab71;
    border-image: linear-gradient(to bottom,#c0ab71,#645127) 1 stretch;
    border-width: 2px;
}

.input-text {
    color: #f0e6d2;
    border-radius: 0;
    border-color: #785a28;
    border-width: 1px;
    border-style: solid;
    background-color: #1e2328;
}

.MainPage_LobbyContainer {
    height: 75%;
}

.MainPage_ChatBox {
    height: 25%;
}

.MainPage_ChatBoxDiv {
    height: calc(100% - 70px);
    width: 100%;
    border: 1px solid gray;
    color: white;
    background-color: rgba(1, 10, 19, 0.7);
    padding: 5px;
    white-space: pre-wrap;
    overflow-y: scroll;
    word-break: break-all;
    overflow-x: hidden;
    word-wrap: break-word; 
    font-size: 1.2vmax; 
}

.collection-item {
    background-color: #010A13;
}

.MainPage_ChampionDiv {
    margin-top: 8px;
    height: 42px;
}

.MainPage_StartingGame_ExitButton {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 15px;
    color: black;
}

.MainPage_ActiveSkin {
    border: 1px solid #645127;
    border-top-color: #c0ab71;
    border-image: linear-gradient(to bottom,#c0ab71,#645127) 1 stretch;
    border-width: 2px;
}

.MainPage_BlockOverlay {
    position: absolute;
    width: calc(75% - 11px);
    top: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    font-size: 40px;
    color: white;
    height: calc(100% - 151px);
}

.MainPage_StartingGame {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: left;
    height: calc(100% - 55px);
    box-sizing: border-box;
    white-space: pre-wrap;
    overflow-y: auto;
    word-break: break-all;
    overflow-x: hidden;
    word-wrap: break-word;
}